*{
    padding: 0;
    margin: 0;
}


/*Navbar styling that is on billcashier6.html*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px 50px;
    position: sticky;
    top: 0;
    }

nav h1 {
    font-size: 200%;
}

nav a {
    text-decoration: none;
    color: black;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    padding: 0px 30px;
    font-weight: bold;
    cursor: pointer;
}
